*.class
*.log
# sbt compilation output
target/
project/target
# Compiler output and nodejs modules
compiler/**/*.html
compiler/**/*.wat
compiler/**/*.wasm
compiler/**/*.js
compiler/node_modules
compiler/package-lock.json
# Latex output
*.out
*.aux
*.log
*.nav
*.snm
*.toc
*.vrb
# Vim
*.swp
# IntelliJ
.idea
# VSCode
.vscode
# tester
tester/repos
# Metals & Bloop
.bsp/
.bloop/
.metals/
metals.sbt


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
